<ion-content>

        <ion-card color="light">
          <ion-card-header>
            <ion-card-title class="keepcenter" *ngIf="data.username">Welcome, {{data.username}}</ion-card-title>

          </ion-card-header>
          <div class="keepcenter">
            <div *ngIf="data.imageUrl">
              <img [src]="data.imageUrl" width="160px" height=auto />


            </div>
          </div>
          <ion-card-content>

            Brief Intro..

          </ion-card-content>


        </ion-card>



  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Finance</ion-label>

      </ion-tab-button>
  
      <ion-tab-button tab="viewclientspostedjob">
        <ion-icon name="bag-check"></ion-icon>
        <ion-label>Check</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="viewclientapproval">
        <ion-icon name="map"></ion-icon>
        <ion-label>View</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Rate</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
</ion-content>



