
     <ion-content fullscreen>
      <ion-card>
        <img src="../../../assets/samplelogo.png" />
        <ion-card-header>
          <ion-card-subtitle>IGP - GROUP 35</ion-card-subtitle>
          <ion-card-title>GIG ECONOMY</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          This work has proven to take too much time more than I planned for,Sometimes I work 9am to 4.30am,  Anything less that A in this 
          course will make me feel bitter . I hope Machine Learning will not suffer.
        </ion-card-content>
      </ion-card>
    </ion-content>
  

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="login">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Login</ion-label>
   
    </ion-tab-button>

    <ion-tab-button tab="chooseregistrationtype">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>



