<ion-header>
  <ion-toolbar color="success">

    <ion-buttons slot="start">
      <ion-back-button title=""></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
<div class="register">

  <ion-card>
    <ion-card-header>
       <ion-card-title>Contact</ion-card-title>

      <ion-card-subtitle>Enter the following to register</ion-card-subtitle>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Surname</ion-label>
        <ion-input type="text" formControlName="Surname"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">FirstName</ion-label>
        <ion-input type="text" formControlName="Firstname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Middlename</ion-label>
        <ion-input type="text" formControlName="Middlename"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email Address</ion-label>
        <ion-input type="email" formControlName="Email" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="Password" formControlName="Password" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone No</ion-label>
        <ion-input type="tel" formControlName="PhoneNo"></ion-input>
      </ion-item>




      

    </ion-card-content>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
       <ion-card-title>Address Information </ion-card-title>

      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
     
    </ion-card-header>
  
    <ion-card-content>
      <ion-button color="primary" (click)="takePicture()">Get Picture1 </ion-button>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
    <ion-button color="primary" (click)="getcurrentlocation()">Get Location </ion-button>

    <ion-button>
      <ion-icon slot="icon-only" name="star"></ion-icon>
    </ion-button>
  </ion-card>

  
  <ion-card>
    <ion-card-header>
       <ion-card-title>Picture</ion-card-title>

      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
     
    </ion-card-header>
  
    <ion-content>
      <ion-img [src]="imageElement"></ion-img>
    
      <!-- ion-fab markup  -->
    </ion-content>
    <ion-button color="primary" (click)="addPhotoToGallery()">Get Picture </ion-button>

  </ion-card>

  <ion-button color ="medium" shape="round" expand="full" (click)="RegisterClient()"fill="outline">Register</ion-button>
  
</div>
</form>
</ion-content>
