<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start"> </ion-buttons>
  <ion-menu-button></ion-menu-button>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list color="success">
  <ion-item color="success">
    <ion-avatar slot="start">
      <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" />
    </ion-avatar>
    <ion-label>
      <h1>Akoms</h1>
      <p> Gathered <span class="money">£100000</span> </p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
