        
      <ion-header>
        <ion-toolbar>
          <ion-title>Available Jobs</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>   
          <ion-list *ngFor="let mydt of mydata">
            <ion-item>
              <ion-card color="light">
                <ion-card-header>
          
          
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        Job ID:
                      </ion-col>
                      <ion-col size="8">
                        {{mydt.jobBoardId}}
                      </ion-col>
          
                    </ion-row>
                    <ion-row>
                      <ion-col>
                        Posted Date:
                      </ion-col>
                      <ion-col size="8">
                        {{mydt.postedDate}}
                      </ion-col>
          
                    </ion-row>
          
                    <ion-row>
                      <ion-col>
                        Distance :
                      </ion-col>
                      <ion-col size="8">
                        {{mydt.distancetojoblocation}}<small>(Meters)</small>
                      </ion-col>
          
                    </ion-row>
          
                  </ion-grid>
                  <small>{{mydt.jobDescription}}</small>
          
                </ion-card-header>
                <div class="keepcenter">
                  <div *ngIf="mydt.imageUrl">
                    <img [src]="mydt.imageUrl" width="160px" height=auto />
                  </div>
                </div>
          
          
                <ion-button color="primary" shape="round" expand="full" (click)="Apply4Job(mydt)">Apply </ion-button>
          
              </ion-card>
            </ion-item>
          </ion-list>
        </ion-content>  